.jekyll-cache
_site
jamuluswebsite-test-de/index.markdown
jamuluswebsite-test-de/404.html
_translator-files/po/.DS_Store
_translator-files/.DS_Store
Website(1).zip
_translator-files/po/de/.DS_Store
.DS_Store
Website.zip
_translator-files/po/de/tet
