---
permalink: /404.html
lang: en
category: "hidden"
hidelang: yes
---
<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="en">

<head>
  <title>404 Not found - Jamulus</title>
  {% include headtags.html %}
</head>

<body class="thissiteisgone">
  {% include header.html %}
  <div class="fx-row fx-row-center-xs">
    {% include general/nav.html %}
    <div id="maincontainer" class="fx-col-100-xs fx-col-50-m">
      <noscript class="red"><strong>{{ site.data.general.tNoJSEnabled }}</strong></noscript>
      <main>
        <div class="fx-col-center-xs fx-txt-center">
          <div class="red doubletextsize">&#x274C; <strong>404</strong></div>
          <h1 class="red">There's nothing here</h1>
          <p>Jamu... What? We couldn't find this page! Maybe this site was moved or deleted. Did you check if there was a typo?</p>
          <p>You might find the content on the</p>
          <p><a href="/wiki" class="button red-bg">Wiki overview page</a></p>
        </div>
      </main>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
