<footer class="fx-row fx-row-around-xs" id="footer">
  <div class="fx-col-100-xs fx-col-33-s fx-col-center-xs">
    <a href="https://github.com/jamulussoftware/jamulus" target="_blank" rel="noreferrer">
      <!-- https://icongr.am/fontawesome/github.svg?size=128&color=ffffff -->
      <img src="{{ '/assets/img/github.svg'| relative_url }}" alt="{{ site.data.general.footer.alt.github }}" loading="lazy" class="fx-center" />
    </a>
  </div>
  <div class="fx-col-100-xs fx-col-33-s fx-col-center-xs">
    <!-- https://icongr.am/fontawesome/facebook-official.svg?size=128&color=ffffff -->
    <a href="https://www.facebook.com/groups/619274602254947/" target="_blank" rel="noreferrer">
      <img src="{{ '/assets/img/facebook.svg' | relative_url }}" alt="{{ site.data.general.footer.alt.facebook }}" id="fb_icon" loading="lazy" class="fx-center" />
    </a>
  </div>
  <div class="fx-col-100-xs fx-col-33-s fx-col-center-xs">
    <!-- https://icongr.am/fontawesome/comments.svg?size=128&color=ffffff -->
    <a href="https://github.com/jamulussoftware/jamulus/discussions" target="_blank" rel="noreferrer">
      <img src="{{ '/assets/img/forum.svg' | relative_url }}" alt="{{ site.data.general.footer.alt.help }}" loading="lazy" class="fx-center" />
    </a>
  </div>
  <div id="copyright" class="fx-col-100-xs fx-row-center-xs">
	Software by <a href="https://github.com/corrados" target="_blank" rel="noreferrer">Volker Fischer</a> and <a href="https://github.com/jamulussoftware/jamulus/graphs/contributors" target="_blank" rel="noreferrer">contributors</a> - want to <a href="/wiki/Contribution">get involved?</a>
	<div id="asio-footer">
	ASIO &reg; compatible - ASIO is a trademark and software of Steinberg Media Technologies GmbH
	</div>
  </div>
</footer>
<script>
  var ja = window.navigator.language || window.navigator.userLanguage;
  var mu = document.documentElement.lang;
  var lus = [{% for lng in site.languages %}"{{ lng }}",{% endfor %}];
  var regex = RegExp('^' + mu);
  if (!regex.test(ja)) { // the language the browser has sent is not the language of the document
    // check if we support the language of the browser
    lus.forEach(function (lng, i) {
      if (ja.match('^' + lng)) { // this language is supported. We could add a suggestion here
        document.getElementById('langselect').classList.add('chlang','red');
        document.getElementById('suglang').style.display = "block";
        document.querySelectorAll('[data-slang='+ lng +']')[0].classList.add("proplang");
      }
    });
  }
</script>
