<header class="fx-row fx-row-between-xs fx-text-center">
  <div class="fx-col fx-text-center"><a href="/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}">
      <img alt="{{ site.data.general.nav.altJamulusIcon }}" width="40" height="40" src="{{ 'assets/img/jamulus-icon-2020.svg'| relative_url }}" /></a>
  </div>
  <div class="fx-col-center-xs fx-txt-right hide-on-dt">
    <a href="#mnv" onclick="showNav();return false;">{% include general/navbtn.html %}</a>
  </div>
</header>
