<header class="fx-row fx-row-between-xs fx-text-center">
  <div class="fx-col fx-text-center icon-container">
    <a href="/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}">
        <img alt="{{ site.data.general.nav.altJamulusIcon }}" width="45" height="45" src="{{ 'assets/img/jamulus-icon-2020.svg'| relative_url }}" />
        <div class="icon">
          <h1 class="icon-name">Jamulus</h1>
          <div class="icon-tagline">{{ site.data.general.header.tagline }}</div>
        </div>
    </a> 
  </div>
        
  </div>
  <div class="fx-col-center-xs fx-txt-right headerlinks">
    {% for item in site.data.headerlinks.header-links %}
      <a 
        href="{{ item.url }}" 
        class="{% if item.url == "/download" %}download-header{% endif %}
              {% if item.url == page.url %}current{% endif %}"
              >
        {{item.title}}</a>
    {% endfor %}
  </div>
  <div class="fx-col-center-xs fx-txt-right hide-on-dt">
    <a href="#mnv" onclick="showNav();return false;">{% include general/navbtn.html %}</a>
  </div>
</header>


