<div id="langselect-container">
  <div id="langselect">
    <!-- Language Dropdown inside a form -->
    <form method="get" id="language-form">
      <div class="language-dropdown">
        <select id="language-select" name="language-select" onchange="location = this.value;">
          {% assign sorted_languages = site.languages | sort %}
          {% for lng in sorted_languages %}
            {% if lng == site.default_lang %}
              {% capture langlink %}{{ page.url }}{% endcapture %}
            {% else %}
              {% capture langlink %}{{ site.baseurl }}/{{ lng }}{{ page.url }}{% endcapture %}
            {% endif %}
            <option value="{{ langlink }}" {% if lng == site.active_lang %}selected{% endif %}>
              {{ site.language_names[lng] }}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>
    <!-- Plain list of language codes for non-JS users -->
    <noscript>
      <ul class="language-list">
        {% for lng in sorted_languages %}
          {% if lng == site.default_lang %}
            {% capture langlink %}{{ page.url }}{% endcapture %}
          {% else %}
            {% capture langlink %}{{ site.baseurl }}/{{ lng }}{{ page.url }}{% endcapture %}
          {% endif %}
          <li>
            {% if lng == site.active_lang %}
              <span class="active">{{ lng }}</span>
            {% else %}
              <a href="{{ langlink }}">{{ lng }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </noscript>
  </div>
</div>
