<div id="langselect-container">
  <div id="langselect">
    <!-- Language Dropdown -->
    <div class="language-dropdown">
      <button class="dropdown-button" aria-expanded="false">
        <span class="dropdown-button-content">
          <img src="{{ site.baseurl }}/assets/img/lang-icon.png" alt="Language Icon" class="lang-icon">
          <span class="lang-text">{{ site.language_names[site.active_lang] }} &#9660;</span>
          <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/langsel.css">
        </span>
      </button>
      <div class="dropdown-content">
        <ul>
          {% assign sorted_languages = site.languages | sort %}
          {% for lng in sorted_languages %}
            {% if lng == site.active_lang %}
              <li class="selected" data-slang="{{ lng }}">{{ site.language_names[lng] }}</li>
            {% else %}
              {% if lng == site.default_lang %}
                {% capture langlink %}
                  {{ site.baseurl }}{{ page.url | replace: '/*' }}
                {% endcapture %}
                {% capture lang_rel %}canonical{% endcapture %}
              {% else %}
                {% capture langlink %}
                  {{ site.baseurl }}/{{ lng }}{{ page.url }}
                {% endcapture %}
                {% capture lang_rel %}alternate{% endcapture %}
              {% endif %}
              <li><a href="{{ langlink }}" rel="{{ lang_rel }}" data-slang="{{ lng }}">{{ site.language_names[lng] }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
