.blog header h1 {
  width: 100%;
  color: #fff;
  line-height: normal;
}

.blog header {
  margin-bottom: auto;
}

.blog header a {
  color: #fff;  
}

#blogside {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bloglist article {
  padding: 2em;
}

.bloglist main {
  margin-top: 16px;
}
