main {
    margin: auto;
    flex-wrap: nowrap;
}

.container {
    margin: auto;
    flex-wrap: nowrap;
}

.download-area {
    margin: auto;
}

.download-area p {
    margin: 32px 0 0 0;
    text-align: left;
}

.button-group {
    margin: auto;
}

.downloadbutton {
    display: block;
    text-align: center;
    margin: 16px 0;
    padding: 12px 0;
    background-color: #E95420;
    color: #ffffff;
    border: 2px solid #E95420;
    border-radius: 6px;
    transition: border-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.downloadbutton:hover {
    border-color: #1181a4;
    text-decoration: none;
}

.downloadbutton:active {
    position: relative;
    top: 1px;
}

.caption-text {
    font-size: 14px;
}

.infoarea {
    margin: auto;
}

.help {
    margin: auto;
    width: 80%;
    padding: 50px 100px;
}
   
.helpbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-color:#e5e5e5;
    border-radius: 6px;
    margin: 0 8px;
    padding: 16px 8px;
}

.helpbox h4 {
    font-size: 18px;
    color: #333;
}

.helpbox p {
    font-size:16px;
    color: #5a5a5a;
}

.list {
    padding: 0 0;
    margin: 0 16px 0 0;
}

.listitem { 
    list-style: none;
}

.requirements { 
    border-radius: 6px;
    color:#5a5a5a;
    padding: 16px 18px;
    background-color: #EAF8FD;
}

.requirements h4 {
    color: #333;
}


@media (min-width: 940px) {
    #suglang {
        text-align: right;
    }

    #gnav {
        display: flex;
        flex-direction: row-reverse;
        max-width: 95%;
    }

    #langselect {
        width: 30%;
    }
    #mnv {
        display: none !important;
    }
}


@media (max-width: 940px) {

    h1 {
        line-height: 1.2em;
    }

   .list {
       columns: 1;
       text-align: center;
   }

   .container {
       flex-wrap: wrap;
   }

   .infoarea {
       text-align: center;
       margin: 18px 0;
       padding: 0 0;
   }

   .download-area {
       text-align: center;
       max-width: 100%;
       left: 0px;
       padding: 0 0;
   }

   .download-area p {
       text-align: center;
   }

   .downloadbutton {
       margin: 8px 12px;
   }

   .help {
       flex-direction: column;
       margin: 16px auto;
       padding: 0 0;
   }

   .helpbox {
       margin: 16px 8px;
   }
   .requirements {
       margin: 0px 12px;
       text-align: center;
   }

}

@media (prefers-color-scheme: dark) {
    .requirements {
        color: #dbdbdb;
        background-color:#5a5a5a;
    }

    .requirements h4 {
        color: #ffffff;
    }

    .helpbox h4 {
        color: #ffffff;
    }

    .helpbox p {
        color: #dbdbdb;
    }
}