button-container:root {
  color-scheme: light dark;
}

body {
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  color: #1181a4;
}

hr {
  border: none;
  height: 1px;
  background-color: #1181a4;
}

a {
  color: #0e6f8e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.red {
  color: #c94a55 !important;
}

.red-bg {
  background-color: #c94a55 !important;
}

.doubletextsize {
  font-size: 2em;
}

header {
  background-color: #49a9c9;
  color: #ffffff;
  margin-bottom: 2em;
  padding: 1em 0 1em 0;
}

code {
  background-color: #efefef;
  font-size: 0.9em;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

pre code {
  display: block;
  overflow-x: auto;
  border-left: solid 2px #1181a4;
  padding-left: 5px;
}

table, th, td {
  border: solid 1px #d3d3d3;
}

td, th {
  padding: 5px;
}

table {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 1em;
}

main li {
  margin-bottom: 0.5em;
}

#suglang {
  display: none;
}

.chlang {
  border: solid 2px #c94a55;
  padding: 0.2em;
}

.proplang {
  font-style: italic;
}

#langselect {
  color: #1181a4;
}

#langselect ul {
  padding: 0;
  margin: 0;
  text-align: right;
}

#langselect ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0.8em 0 0;
  padding: 0;
}

#langselect .selected, #gnav .selected, #paginator .selected {
  font-weight: bold;
  text-decoration: underline;
  color: #2b7288;
}

#langselect.chlang ul li a, #langselect.chlang .selected {
  color: inherit;
}

header #navbtn {
  color: #ffffff;
}

#gnav nav h3 {
  margin: 1.2em 0 0 0;
}

#gnav a .selected {
  font-weight: bold;
  text-decoration: underline;
  color: #2b7288;
}

#gnav nav ul {
  padding: 0;
  margin: 0;
}

#gnav nav ul li>a {
  margin-left: 0.5em;
  display: inline-block;
}

#gnav nav>ul>li>ul>li>ul>li>a {
  margin-left: 0.9em;
}

nav {
  color: #ffffff;
  margin: 10px auto 0 auto;
  padding: 10px 10px 10px 10px;
}

#navaround, nav, .kblist article {
  background-color: #eaf8fd;
}

#navaround {
  line-height: 0;
  margin: 0;
  width: 100%;
  display: block;
  color: inherit;
}

#navaround svg {
  margin: 0.4em;
}

#navbtn {
  cursor: pointer;
  margin: 0;
}

#mnv {
  display: none;
}

#mnv ul {
  list-style-type: none;
}

#editsitecontent svg {
  color: #1181a4;
}

:target {
  background-color: #ffceaf;
  border-top: solid 2px #1181a4;
  transition: border-top 0.5s;
  transition: background-color 0.5s;
  transition-timing-function: ease;
}

table {
  width: max-content;
  max-width: 100%;
  overflow: auto;
  display: block;
}

#footer {
  background-color: #1181a4;
  color: #ffffff;
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1em;
}

#footer a {
  display: block;
  color: #ffffff;
}

#footer a>img {
  display: block;
  transition: 0.4s;
  opacity: 1;
}

#footer a>img:hover {
  transition: 0.4s;
  opacity: 0.8;
}

body>div {
  margin: 1em 0 0 0;
  padding: 0;
}

main>div {
  padding-top: 0;
  margin-top: 0;
}

#footer img {
  height: 2em;
  color: #ffffff;
}

#copyright {
  margin-top: 15px !important;
}

#copyright a {
  display: inline;
}

.fx-row {
  margin-left: 0;
  margin-right: 0;
}

#sflogo {
  background-color: #ffffff;
  padding: 0.2em;
  border-radius: 4px;
}

.button {
  display: inline-block;
  width: auto;
  background-color: #49a9c9;
  color: #ffffff;
  padding: 1em;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 0.2em;
  transition: 0.4s;
  opacity: 1;
}

.button:hover {
  text-decoration: none;
  transition: 0.4s;
  opacity: 0.8;
}

.button-container {
  padding: 0;
}

.buttoncontainer a {
  margin: auto;
}

#paginator {
  padding: 0;
  margin: 0;
}

#paginator li {
  list-style-type: none;
  display: inline-block;
}

@media (min-width:940px) {
  #langselect ul li {
    margin: 0 0.3em 0 0;
  }

  #mnv {
    display: block !important;
  }

  .hide-on-dt {
    display: none;
  }

  header, .mainsite header {
    margin-bottom: 3em;
  }

  #gnav {
    order: 2;
  }

  nav {
    position: sticky;
    top: 2px;
  }

  #maincontainer {
    order: 1;
  }

  #gnav nav ul li {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6, a, #langselect {
    color: #3daed2;
  }

  #langselect .selected, #paginator .selected {
    color: #1da3cc;
  }

  header #navbtn {
    color: #dbdbdb;
  }

  #footer {
    background-color: #0a5067;
    color: #dbdbdb;
  }

  #footer a {
    color: #dbdbdb;
  }

  #mnv, #navaround, .kblist article {
    background-color: #262a2b;
  }

  #mnv h2, #mnv a {
    color: #10b0e2;
  }

  #mnv ul li a.selected {
    color: #52bada;
  }

  body {
    background-color: #242323;
    color: #dbdbdb;
  }

  .button, header {
    background-color: #0a5067;
  }

  .button {
    color: #cecdd2;
  }

  :target {
    background-color: #82431c;
    border-color: #3daed2;
  }

  header {
    color: #dbdbdb;
  }

  hr {
    background-color: #dbdbdb;
  }

  code {
    background-color: #2b2f2f;
  }


  pre code {
    border-left-color: #3daed2;
  }

  .red {
    color: #ea6571 !important;
  }

  .red-bg {
    background-color: #ea6571 !important;
  }

  .chlang {
    border-color: #ea6571;
  }
}
