.mainsite h1 {
  margin: 0;
  color: #ffffff;
}

.mainsite #firstrow h2 {
  margin-top: 0;
}

header {
  text-align: center;
  margin-bottom: 0;
}

#get_started_btn_top {
  display: inline-block;
  width: auto;
  padding: 1em;
  font-size: 1.2em;
  border: solid #ffffff 4px;
  color: #ffffff;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 0.2em;
  transition: 0.4s;
}

#get_started_btn_top:hover {
  text-decoration: none;
  transition: 0.4s;
  border-color: #ececec;
  color: #ececec;
}

@media (prefers-color-scheme: dark) {
  #get_started_btn_top {
    color: #dbdbdb;
    border-color: #dbdbdb;
  }

  .mainsite header h1, .mainsite, header a {
    color: #dbdbdb;
  }
}

#dl_frm_sf_container {
  margin: .5em 0 0 0;
}

#dld_frm_sf {
  color: #ffffff;
  text-decoration: none;
}

#dld_frm_sf:hover {
  text-decoration: underline;
}

#bannercontainer {
  margin-top: 10px;
}

#jamulusbanner {
  width: 100%;
  transition: 0.4s;
  opacity: 1;
}

#jamulusbanner:hover {
  transition: 0.4s;
  opacity: 0.9;
}

#dl_frm_sf_container {
  margin: .5em 0 0 0;
}

#dld_frm_sf {
  color: #ffffff;
  text-decoration: none;
}

#dld_frm_sf:hover {
  text-decoration: underline;
}

#bannercontainer {
  margin-top: 10px;
}

#jamulusbanner {
  width: 100%;
  transition: 0.4s;
  opacity: 1;
}

#jamulusbanner:hover {
  transition: 0.4s;
  opacity: 0.9;
}
