.mainsite h1 {
  margin: 0;
  color: #ffffff;
}

.mainsite #firstrow h2 {
  margin-top: 0;
}

header {
  text-align: center;
  margin-bottom: 0;
}

#get_started_btn_top {
  display: inline-block;
  width: auto;
  padding: 1em;
  font-size: 1.2em;
  border: solid #ffffff 4px;
  color: #ffffff;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 0.2em;
  transition: 0.4s;
}

#get_started_btn_top:hover {
  text-decoration: none;
  transition: 0.4s;
  border-color: #ececec;
  color: #ececec;
}

#quick_dl_container {
  margin: .5em 0 0 0;
}

#quick_dl_container a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 1px #83cae5;
}

#quick_dl_container a:hover {
  border-bottom-color: #fff;
}

@media (prefers-color-scheme: dark) {
  #get_started_btn_top {
    color: #dbdbdb;
    border-color: #dbdbdb;
  }

  .mainsite header h1, .mainsite, header a {
    color: #dbdbdb;
  }
  #quick_dl_container a {
    border-bottom-color: #3daed2;
  }
}

body.is-os-deb #quick_dl_container a.os-deb,
body.is-os-mac #quick_dl_container a.os-mac,
body.is-os-win #quick_dl_container a.os-win,
body.is-os-other #quick_dl_container a.os-other {
  font-weight: bold;
}

#bannercontainer {
  margin-top: 10px;
}

#jamulusbanner {
  width: 100%;
  transition: 0.4s;
  opacity: 1;
}

#jamulusbanner:hover {
  transition: 0.4s;
  opacity: 0.9;
}
