.kb header h1 {
  width: 100%;
  color: #fff;
  line-height: normal;
}

.kb header {
  margin-bottom: auto;
}

.kb header a {
  color: #fff;
}

#kbside {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.kblist article {
  padding: 2em;
}

.kblist main {
  margin-top: 16px;
}

#cc {
   margin-top: 1.5em;
   font-style: italic;
   font-size: 0.75em;
   color: #696969;
   clear: both;
}

#asio {
   font-style: italic;
   font-size: 0.75em;
   clear: both;
}

