.kb header h1 {
  width: 100%;
  color: #fff;
  line-height: normal;
}

.kb header {
  margin-bottom: auto;
}

.kb header a {
  color: #fff;
}

#kbside {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.kblist article {
  padding: 2em;
}

.kblist main {
  margin-top: 16px;
}
