.wikisite header {
  margin-bottom: 1.2em;
}

.wikisite .title {
  font-size: 2em;
}

.wikisite main h1 {
  margin-top: 0;
  line-height: 1.5em;
  border-bottom: 3px solid;
}

.wikisite main h2 {
   margin-bottom: 0.2em;
}

.wikisite main h3 {
   margin-bottom: 0.5em;
}

.wikisite #ftext {
  margin-top: 2em;
  border-top: solid #1181a4;
  line-height: 90%;
  font-size: 0.85em;
  background-color: #edebeb;
  padding: 20px;
}

.wikisite .button-container {
    margin: .25em 0;
}

@media (prefers-color-scheme: dark) {
  .wikisite #ftext {
    border-top-color: #0a5067;
    background-color: #2b2f2f;
  }

  .wikisite #editsitecontent svg {
    color: #1b90b5;
  }
}
