<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="{{ site.active_lang }}">

<head>
  <title>{{ page.title }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="/assets/css/downloads.css">
</head>

<body>
  {% include header.html %}
  <div>
    <div>
    {% include general/nav.html %}
    </div>
    <div class="fx-row">
        <noscript class="red"><strong>{{ site.data.general.tNoJSEnabled }}</strong></noscript>
        <main lang="{{ page.lang }}">{{ content }}</main>
    </div>
    {% include footer.html %}
  </div>
</body>

</html>