---
pagination:
  enabled: true
---
<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="{{ site.active_lang }}">

<head>
  <title>{{ page.title }} {{ site.data.general.blog.titleAdd }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="/assets/css/blog.css">
  <script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"BlogPosting",
    "headline": "{{ page.heading }}",
    {% if page.author %}
    "publisher": {
      "@type": "Person",
      "name": "{{ page.author }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ page.author }}"
    },
    {% endif %}
    "datePublished": "{{ page.date | date_to_xmlschema }}"
  }
  </script>
</head>

<body class="blog blogsite">
  <header class="fx-row fx-row-between-xs fx-text-center">
    <div class="fx-col fx-text-center"><a href="/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}">
        <img alt="{{ site.data.general.nav.altJamulusIcon }}" width="40" height="40" src="{{ 'assets/img/jamulus-icon-2020.svg'| relative_url }}" /></a>
    </div>
    <div class="fx-col-center-xs fx-txt-right hide-on-dt">
      <a href="#mnv" onclick="showNav();return false;">{% include general/navbtn.html %}</a>
    </div>
    <div class="fx-col-100-xs fx-txt-center">
      <h1>{{ page.heading }}</h1>
      {% if page.author %}
        {{ site.data.general.blog.by }} {{ page.author }}
      {% endif %}
      {% if page.date %}
      | <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
      {% endif %}
    </div>
  </header>
  <div class="fx-row fx-row-center-xs">
    {% include general/nav.html %}
    <div id="maincontainer" class="fx-col-100-xs fx-col-50-m">
      <noscript class="red"><strong>{{ site.data.general.tNoJSEnabled }}</strong></noscript>
      <main lang="{{ page.lang }}">{{ content }}</main>
      <div class="fx-row-100-xs">
        <h2>{{ site.data.general.blog.navpages }}</h2>
      </div>
      <div class="fx-row-100-xs fx-row-50-m">
        {% if page.previous.url %}
        <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
      </div>
      <div class="fx-row-100-xs fx-row-50-m fx-row-center">
        {% if page.next.url %}
        <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </div>
    </div>
    <aside class="fx-col-begin-xs fx-col-100-xs fx-col-10-m">
      <p id="blogintro">
        {{ site.data.general.blog.blogintro }}
      </p>
      <ul id="blogside">
        <li><a href="/blog">{{ site.data.general.blog.mainpage }}</a></li>
        <li><a href="{{ site.blognewpage }}">{{ site.data.general.blog.newpage }}</a>
        </li>
      </ul>
    </aside>
  </div>
  {% include footer.html %}
</body>

</html>
