<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="{{ site.active_lang }}">

<head>
  <title>{{ page.title }} {{ site.data.general.wiki.titleAdd }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="/assets/css/wiki.css">
</head>

<body class="wikisite">
  {% include header.html %}
  <div class="fx-row fx-row-center-xs">
    {% include general/nav.html %}
    <div id="maincontainer" class="fx-col-100-xs fx-col-50-m">
      <noscript class="red"><strong>{{ site.data.general.tNoJSEnabled }}</strong></noscript>
      <main lang="{{ page.lang }}">{{ content }}</main>
      <div id="ftext" class="fx-txt-center">
        {% capture footertext %}
        {% if site.active_lang %}
        {% include wiki/{{ site.active_lang }}/footertext.md %}
        {% endif %}
        {% endcapture %}
        {{ footertext | markdownify }}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
