<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="{{ site.active_lang }}">

<head>
  <title>{{ page.title }} {{ site.data.general.wiki.titleAdd }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="/assets/css/wiki.css">
  <meta name="description" content="{{ page.metadescription }}">
</head>

<body class="wikisite">
  <header class="fx-row fx-row-between-xs fx-text-center">
    <div class="fx-col fx-text-center"><a href="/{% if site.active_lang != site.default_lang %}{{ site.active_lang }}/{% endif %}">
        <img alt="{{ site.data.general.nav.altJamulusIcon }}" width="40" height="40" src="{{ 'assets/img/jamulus-icon-2020.svg'| relative_url }}" /></a>
    </div>
    <div class="fx-col-center-xs fx-txt-right hide-on-dt">
      <a href="#mnv" onclick="showNav();return false;">{% include general/navbtn.html %}</a>
    </div>
  </header>
  <div class="fx-row fx-row-center-xs">
    {% include general/nav.html %}
    <div id="maincontainer" class="fx-col-100-xs fx-col-50-m">
      <noscript class="red"><strong>{{ site.data.general.tNoJSEnabled }}</strong></noscript>
      <main lang="{{ page.lang }}">{{ content }}</main>
      <div id="ftext" class="fx-txt-center">
        {% capture footertext %}
        {% if site.active_lang %}
        {% include wiki/{{ site.active_lang }}/footertext.md %}
        {% endif %}
        {% endcapture %}
        {{ footertext | markdownify }}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
